= inherit 'settings/base' do
  = block(:settings_page) do
    .content
      %h2 Billing settings
      %p Probably a form for with credit card information field should be here. This is just an example though so why bother?
