= inherit "layouts/base" do
  - block(:content) do
    %h2 About
    %p Donec eros enim, aliquet vel tincidunt et, imperdiet sit amet lacus. Sed pretium nulla nec erat fringilla eu vulputate turpis hendrerit. Ut mattis aliquam orci, ut feugiat metus semper vestibulum. Nullam auctor aliquam massa non eleifend. In egestas ullamcorper bibendum. Sed elementum.

  - block(:footer_tip) do
    Another tip for awesome templating!
