= inherit "layouts/base" do
  - clear_block(:header)

  - block(:content) do
    %h2 Help
    %p Sorry, no header for you.
    %p Aliquam et lectus quis lectus pellentesque ornare ac id odio. Duis tristique justo eget nisl ultricies eu eleifend massa semper. In odio justo, accumsan nec volutpat id, blandit id mauris. Nulla facilisi. Donec eros enim, aliquet vel tincidunt et, imperdiet sit amet lacus.

  - block(:footer_tip) do
    Need some support, have feedback? @neaf
