= inherit "layouts/base" do
  - block(:content) do
    %h2 Home
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue tellus enim, a laoreet ante. Aliquam et lectus quis lectus pellentesque ornare ac id odio. Duis tristique justo eget nisl ultricies eu eleifend massa semper. In odio justo, accumsan nec volutpat id, blandit id mauris. Nulla facilisi.
